/* App.css */

#root {
  max-width: 960px;
  margin: 0 auto;
  padding: 20px;
}

.tile-button {
  padding: 0 !important;
  border: none !important;
  background: none !important;
}

.tile-image {
  width: 40px; /* Adjust as needed */
  height: auto;
  vertical-align: middle;
}

.tile-image-display {
  width: 30px; /* Adjust as needed for displayed hand */
  height: auto;
  vertical-align: middle;
}

.tile-image-small {
  width: 25px; /* Adjusted for smaller winning tile selection */
  height: auto;
  vertical-align: middle;
}

.winning-tile {
  border: 2px solid red !important; /* Highlight for the winning tile */
  border-radius: 5px;
}